UNLEASH_APP_NAME=unleash-service

UNLEASH_APP_PORT=3000
UNLEASH_DB_URL=postgres://root:root@localhost:5432/unleash
UPLOAN_AUTH_URL=https://localhost:3000/auth
UPLOAN_LOGIN_URL=https://localhost:3000/auth

EUREKA_HOST=localhost
EUREKA_PORT=8761
EUREKA_SERVICE_PATH=/eureka/apps/
EUREKA_PREFER_IP_ADDRESS=true
